#title {
    position: absolute;
    top: 0px;
    width: 400px;
}

#connection {
    position: inherit;
    top: 0px;
    right: 0px;
}

.connect {
    color: #18bc9c;
}

.disconnect {
    color: red;
}

#exia {
    position: absolute;
    top: 50px;
}

#map_data {
    position: absolute;
    top: 50px;
}

#exia img {
    width: 450px;
    height: auto;
}

#exia #ls2 {
    position: inherit;
    top: 40px;
    left: 185px;
    color: white;
}

#exia #rs2 {
    position: inherit;
    top: 40px;
    right: 185px;
    color: white;
}

#exia #ls1 {
    position: inherit;
    top: 105px;
    left: 110px;
    color: white;
}

#exia #rs1 {
    position: inherit;
    top: 105px;
    right: 110px;
    color: white;
}

#exia #lf1 {
    position: inherit;
    top: 190px;
    left: 55px;
    color: white;
}

#exia #rf1 {
    position: inherit;
    top: 190px;
    right: 55px;
    color: white;
}

#exia #gyro {
    position: inherit;
    bottom: 125px;
    left: 225px;
    text-align: center;
    color: white;
}

#exia #battery {
    position: inherit;
    bottom: 30px;
    left: 160px;
    text-align: center;
    color: white;
}

#console {
    position: absolute;
    top: 50px;
    left: 550px;
    width: 300px;
    height: 300px;
    background-color: transparent;
}

#map_result {
    position: absolute;
    top: 150px;
    left: 750px;
    width: 600px;
    height: 600px;
    background-color: transparent;
}

#map_resultBtn {
    position: absolute;
    top: 0px;
    left: 50px;
    width: 150px;
    height: 50px;
    background-color: transparent;
}

#map_create16 {
    position: absolute;
    top: 0px;
    left: 200px;
    width: 150px;
    height: 50px;
    background-color: transparent;
}

#map_create32 {
    position: absolute;
    top: 0px;
    left: 350px;
    width: 150px;
    height: 50px;
    background-color: transparent;
}

body {
    background-color: #add8ff;
}

a {
    color: #18bc9c;
    text-decoration: none;
}

#container {
    width: 100%;
    position: relative;
}

.jumbotron.special {
    padding: 0 0 40px 40px;
    margin: auto auto;
}

.btn {
    background: #333;
    color: #111;
    padding: 18px 18px;
    border: 1px solid rgba(255, 255, 255, 0.125);
    background-image: url(line2.svg);
}

.btn:focus {
    outline: none;
}

.btn:target {
    outline: none;
}

.btn:active {
    outline: none;
}

.btn:hover {
    outline: none;
}

.hasNorth {
    border-top: 1px solid #C00;
}

.hasEast {
    border-right: 1px solid #C00;
}

.hasWest {
    border-left: 1px solid #C00;
}

.hasSouth {
    border-bottom: 1px solid #C00;
}

.btn_header {
    color: #111;
    border-bottom: 2px solid #C00;
}

.btn_footer {
    color: #111;
    border-top: 2px solid #C00;
}

.btn_right {
    color: #111;
    border-left: 2px solid #C00;
}

.btn_left {
    color: #111;
    border-right: 2px solid #C00;
}